.playing {
  width: 5px;
  height: 20px;
  display: inline-block;
  vertical-align: bottom;
  background: black;
  position: relative;
}
.playing:before,
.playing:after {
  content: "";
  width: 10px;
  background: black;
  position: absolute;
  bottom: 0;
}
.playing:before {
  height: 24px;
  left: -13px;
}
.playing:after {
  height: 32px;
  right: -13px;
}
.playing.animated {
  animation: pulse linear 0.7s;
  animation-iteration-count: infinite;
}
.playing.animated:before {
  animation: pulse2 linear 1s;
  animation-iteration-count: infinite;
}
.playing.animated:after {
  animation: pulse3 linear 0.9s;
  animation-iteration-count: infinite;
}

@keyframes pulse {
  0% {
    height: 40px;
    margin-top: 0;
  }
  40% {
    height: 10px;
    margin-top: 30px;
  }
  100% {
    height: 40px;
    margin-top: 0;
  }
}
@keyframes pulse2 {
  0% {
    height: 24px;
  }
  40% {
    height: 8px;
  }
  100% {
    height: 24px;
  }
}
@keyframes pulse3 {
  0% {
    height: 32px;
  }
  40% {
    height: 12px;
  }
  100% {
    height: 32px;
  }
}
